form {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

input, select {
  margin: 10px 0;
  padding: 10px;
}

button {
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
}